.cart {
  ion-list {
    --ion-item-background: transparent;
    ion-item {
      --border-style: dashed;
      --border-color: var(--ion-color-gray);
      --padding-bottom: 1rem;
      --padding-top: 1rem;
    }
  }
}

.product-meta {
  display: flex;
  gap: 1.2rem;

  img {
    width: 3.438rem;
    height: 3.438rem;
    object-fit: cover;
    border-radius: 1.25rem;
  }
}

.cart-image {
  position: relative;

  .delete-item {
    position: absolute;
    top: -5px;
    left: -25px;

    ion-icon {
      font-size: 1.3rem;
    }
  }
}

.product-info {
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  color: var(--ion-color-gray);

  ion-label {
    font-size: 1em;
  }

  .title {
    font-weight: 600;
    color: var(--ion-color-text);
  }
}

.qty-cart-grid {
  margin-top: 0.6em;

  ion-buttons {
    display: flex;
    margin-left: -10px;
  }
}

.quantity {
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.cart-total {
  margin-top: 4em;
}

.cart-btn {
  --padding-top: 1.6em;
  --padding-bottom: 1.6em;
  --border-radius: 17px;
  --padding-end: 3em;
  --padding-start: 3em;

  ion-label {
    font-size: 1.1em;
    text-transform: capitalize;
    font-weight: bold;
  }
}

.check-col {
  display: flex;
  justify-content: end;
}

.price {
  color: var(--ion-color-gray);

  ion-label {
    font-size: 1em;
  }
}
